#title {
  background-color: #a5f1e9;
  margin: 0px -1px;

  /* navbar */
}

.navbar-item {
  margin: 3px 30px;
}

.navbar-brand {
  color: #000;
  font-family: "Monteserrat";
  font-size: 3rem;
  font-weight: 900;
}

.nav-img {
  margin: 20px;
}

.navbar-link {
  color: grey;
  text-decoration: none;
}

.navbtn {
  margin-top: -5px;
  margin-right: 2px;
}

.login {
  text-decoration: none;
  color: grey;
}

/* main */
.row {
  margin-top: 100px;
}

.mainh1 {
  color: #000;
  font-family: "Monteserrat-bold";
  font-weight: 800;
  font-size: 4rem;
  text-align: center;
  margin-top: 30px;
}

.mainimg {
  margin-left: 100px;
  border-radius: 30px;
  margin-bottom: 100px;
}

.mainbtn {
  margin: 8% 6% 4% 20%;
}

.btn2 {
  margin-left: 30px;
}

#features h1 {
  text-align: center;
  font-family: "monteserrat-black";
  font-size: 2.5rem;
  font-weight: 900;
}

#features {
  background-color: #f2e5e5;
  height: 300px;
}

/* testimonials */
#testimonials {
  background-color: #e6ddc4;
  padding: 7% 15%;
  text-align: center;
}

.carousel-item {
  padding: 7% 14%;
}

/* footer  */
/* #footer p{
     color: #000;
     font-size: 1.5rem;
     text-align: center;
     padding-top: 10px;
   }
   .icon{
    padding-left:730px;
   }
   .icon1{
    margin: 5px;
   }
   .mailbtn{
    margin-top: 20px ;
    margin-left: 730px;
    text-decoration: none;
   }
   .mailbtn2{
    text-decoration: none;
    color:grey;
   }
   #footer{
    background-color: #fff;
     background-image:url(images/background-main.jpeg) ;
   }
  
   .btnn:hover{
   color: #fff;
   } */
.navbar-link:hover {
  color: #000;
}

#footer {
  padding: 5% 15%;
}

.icon1 {
  margin: 5px;
}

.copy {
  text-align: center;
  margin-top: 40px;
  margin-bottom: -89px;
}

.mailbtn2 {

  text-decoration: none;
  color: grey;
}